* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: rgb(221, 235, 226);
    --container-color: #fff;
    --font: Arial, Helvetica, sans-serif;
    --button-color: rgb(3, 139, 121);
    --border-color: rgb(199, 198, 198);
}


html, body {
    background-color: var(--background-color);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: var(--font);

}

.container {
    background-color: var(--container-color);
    width: 600px;
    height: 675px;
    border-radius: 15px;
    margin: 2rem auto;
}

h1 {
    font-size: 23px;
    margin-top: 35px;
    margin-left: 32px;
    /* margin-bottom: 25px; */
}

form {
  display: flex;
  flex-direction: column;  /* gap: 16px; */
  padding: 32px;
  gap: 20px;
}

.label {
    margin-bottom: 7px;
}

.form-group.full-width{
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}

.side {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  /* .form-element
   { */
.form-element {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow: none;
    outline: none;
    height: 35px;
}


#message {
    height: 75px;
}

#email, #message, #submit {
    width: 100%;
}

#submit {
    height: 50px;
    background-color: var(--button-color);
    color: white;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    font-size: 0.75rem;
}

.radio-button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px 16px;
    width: 100%;
    cursor: pointer;
}

.radio-group {
    margin-top: 0;
    padding-top: 0;
    margin-top: 0;
    padding-top: 0;  
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 6px;
  }

.checkgroup{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkgroup.label {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

.form-element.error {
    border: 1px solid red !important;
}

.error-message {
  color: red;
  font-size: 0.75rem;
  margin-top: 4px;
  display: none; /* Hide automatically */
}
